<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head", {title: product.nombre}) %>

    <body>
        <%- include("../partials/header") %>


            <main class="home-main">
                <div class="div-fondo">
                    <div class="card-container">
                        <h2>Seleccionaste</h2>
                        <div class="div-img"><img src="/images/products/<%= product.image %>" alt="Esponja">
                        </div>
                        <b>
                            <%= product.name %>
                        </b>
                        <h5> $<%= product.price%>
                        </h5>
                        <p> Categoría: <%= product.category.name%>
                        </p>

                        <div class="cart-button">
                            <div class="agregar"><button class="carrito"> AGREGAR AL CARRITO</button>
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <%- include("../partials/footer") %>
                <%- include("../partials/scripts") %>
    </body>

</html>