<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head", {title: product.nombre}) %>

    <body>
        <%- include("../partials/header") %>


            <main class="detail-main">
                <nav class="nav-categories">
                    <a id="backButton"><i class="fa-solid fa-arrow-left"></i> Volver</a>
                    <div>
                        <a href="/">Home <i class="fa-solid fa-chevron-right"></i></a>
                        <a href="/productos/categoria/<%=product.categoryId %>">
                            <%= product.category.name %> <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </nav>
                <div class="product-container">
                    <div class="images-gallery">
                        <img id="galeria" src="/images/products/<%= product.image %>" alt="">
                        <nav class="nav-gallery">
                            <ul>
                                <li><a onclick="cargarfoto('/images/products/<%= product.image %>')"><img
                                            src="/images/products/<%= product.image %>" alt=""></a></li>
                                <li><a onclick="cargarfoto('/images/products/cif-trasero.jpg',0)"><img
                                            src="/images/products/cif-trasero.jpg" alt=""></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <h2>
                    <%= product.name %>
                </h2>
                <h2>$ <%= product.price %>
                </h2>
                <button class="cart-button">Agregar al carrito <i class="fa-solid fa-cart-shopping"></i></button>
                <!-- <div class="div-fondo">
                    <div class="card-container">
                        <h2>Seleccionaste</h2>
                        <div class="div-img"><img src="/images/products/<%#= product.image %>" alt="Esponja">
                        </div>
                        <b>
                            <%#= product.name %>
                        </b>
                        <h5> $<%#= product.price%>
                        </h5>
                        <p> Categoría: <%#= product.category.name%>
                        </p>
                    
                        <div class="cart-button">
                            <div class="agregar"><button class="carrito"> AGREGAR AL CARRITO</button> 
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                        </div>
                    </div>
                </div> -->
                <script>
                    document.getElementById('backButton').addEventListener('click', function () {
                        window.history.back()
                    })
                    function cargarfoto(img) {
                        document.getElementById("galeria").src = img;
                    }
                </script>
            </main>
            <%- include("../partials/footer") %>
                <%- include("../partials/scripts") %>
    </body>

</html>