<html lang="en">
<%- include("../partials/head") %> 

    <%- include("./dashboard") %> 

    <main>
         <h2 class="h2-product" >CARGA DE PRODUCTOS</h2>
       <div class="tabla">
        <table class="table table-bordered border-primary">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">stock</th>
                <th scope="col">descripcion</th>
                <th scope="col">cantidad</th>
                <th scope="col">imagen</th>
                <th scope="col">categoria</th>
                <th scope="col">disponible</th>
                <th scope="col">editar</th>
                <th scope="col">borrar</th>
              </tr>
            </thead>
            <tbody>
              <% productos.forEach(producto => { %>
              <tr>
                <th scope="row"><%= producto.id %></th>
                <td><%= producto.nombre %></td>
                <td>$<%= producto.precio %></td>
                <td><%= producto.stock %></td>
                <td><%= producto.descripcion %></td>
                <td>5 litros</td>
                <td><img src="./images/<%= producto.imagen %>" alt="jabon" width="50px"></td>
                <td><%= producto.categoria %></td>
                <td>si</td>
                <td> <a href="/admin/dashboard/editar/<%= producto.id %>" class="btn btn-warning boton-editar">editar</a></td>
                <td> <button type="reset" class="btn btn-danger boton-eliminar">Eliminar</button></td></td>
              </tr>
              <% }) %>
              <!--
              <tr>
                <th scope="row">2</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> <a href="./formularioEdicionProducto.html" class="btn btn-warning boton">editar</a></td>
                <td> <button type="reset" class="btn btn-danger">Eliminar</button></td></td>
              
              </tr>
              <tr>
                <th scope="row">3</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> <a href="./formularioEdicionProducto.html" class="btn btn-warning boton">editar</a></td>
                <td> <button type="reset" class="btn btn-danger">Eliminar</button></td></td>
             
              </tr>
              <tr>
                <th scope="row">4</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> <a href="./formularioEdicionProducto.html" class="btn btn-warning boton">editar</a></td>
                <td> <button type="reset" class="btn btn-danger">Eliminar</button></td></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> <a href="./formularioEdicionProducto.html" class="btn btn-warning boton">editar</a></td>
                <td> <button type="reset" class="btn btn-danger">Eliminar</button></td></td>
              </tr>
        -->
        
            </div> 
            <div class="button-crear">
               <a href="/admin/dashboard/crear"> <button type="button" class="btn btn-primary">Crear</button></a>
                </div>
          
          
            </tbody>
          </table>

          </main>
         
      
          <%- include("../partials/scripts") %> 
            
          </body>
          </html>