<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head") %> 

<body>
    <header class="home-header2">

        <div class="home-div2">
            <div href="/producto" class="burguer">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="iconos2">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
    </header>
    <main class="home-main2">

        <div class="div-fondo">
            <div class="home-div3">
                <h2>Seleccionaste</h2>
                <div class="div-img"><img src="/images/<%= detalle.imagen %>" alt="Esponja">
                    <b><%= detalle.nombre %></b>
                    <div class="div-cantidad"><p>Cantidad:</p> <button class="cantidad">0</button></div>
                    <h5> $<%= detalle.precio%> </h5>
                    <h4> Categoría: <%= detalle.categoria%> </h4>
                    <div class="agregar"><button class="carrito"> AGREGAR AL CARRITO</button> <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>