<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head", {title: producto.nombre}) %> 

<body>
    <%- include("../partials/header") %> 
    

    <main class="home-main2">

        <div class="div-fondo">
            <div class="home-div3">
                <h2>Seleccionaste</h2>
                <div class="div-img"><img src="/images/<%= producto.imagen %>" alt="Esponja">
                    <b><%= producto.nombre %></b>
                    <div class="div-cantidad"><p>Cantidad:</p> <button class="cantidad">0</button></div>
                    <h5> $<%= producto.precio%> </h5>
                    <p> Categoría: <%= producto.categoria%> </p>
                    <div class="agregar"><button class="carrito"> AGREGAR AL CARRITO</button> <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include("../partials/footer") %>
    <%- include("../partials/scripts") %> 
</body>

</html>