<header>
  <div class="logo-ubicacion">
    <a href="/home"> <img class="logoprincipal" src="/images/logo.png" width="220" height="50"
        alt="logo de siempre limpio"></a>
    <div class="user-actions">
      <% if (!locals.userLogin) { %>
        <div class="div-button">
          <a href="/autenticacion/iniciar">
            <h3>Ingresar</h3>
            <a href="/autenticacion/iniciar" class="button-a">
              <button class="user-button"><i class="fa-solid fa-user-large"></i>
              </button>
            </a>
          </a>
        </div>
        <% } else { %>
          <div class="div-button">
            <label for="active-perfil-tarjet" id="label-text">Perfil</label>
            <input type="checkbox" id="active-perfil-tarjet" class="apt">
            <div class="perfil-box-container">
              <div class="avatar-img"> <img src="/images/users/<%= user.avatar %>" alt=""></div>
              <div class="user-info">
                <h2 class="user-name-info">
                  <%= user.name + " " + user.surname %>
                </h2>
                <h3 id="user-email-info">
                  <%= user.email %>
                </h3>
                <p class="addres-info">
                   CP: <%= user.address.zipCode %> <br>
                   <%= user.address.city %> <br>
                   <%= user.address.street + " " + user.address.streetNo %>
                </p>
              </div>
              <div class="action-buttons">
                <% if (locals.userLogin?.roleAdmin === true) { %>
                <a href="/admin/dashboard/productos">Panel Admin</a>
                <% } else { %>
                  <a href="/perfil">Ver Perfil</a>
                  <% } %>
                <a href="/autenticacion/cerrar-sesion">Cerrar Sesion</a>
              </div>
            </div>
            <label for="active-perfil-tarjet" class="user-button">
              <i class="fa-solid fa-user-large"></i>
            </label>
          </div>
          <% } %>
            <div class="div-button">
              <h3>Carrito</h3>

              <a href="/carrito" class="button-a">
                <button class="user-button"><i class="fa-solid fa-cart-shopping"></i>
                </button>
              </a>
            </div>
    </div>
  </div>

  <section class="seccion-nav-bar ">
    <div class="burguer-menu">
      <label for="burgcheck"><i class="fa-solid fa-bars"></i></label>
      <input type="checkbox" class="burguer-activate" id="burgcheck">
      <ul class="movile-nav">
        <h2>CATEGORIAS</h2>
        <% categories.forEach(category => {%>
          <li><a href="/productos/categoria/<%= category.id%>"><%= category.name %></a></li>
        <% })%>
      </ul>
    </div>

    <div class="barra-busqueda">
      <form action="/buscar" method="get">
        <input type="text" name="productSearch" placeholder="¿Que producto estas buscando?">
        <button type="submit"><i class="fa-solid fa-magnifying-glass lupa"></i></button>
      </form>
    </div>
  
  </section>


  <section class="categorias">
    <nav>
      <ul class="menu-lista">
        <% categories.forEach(category => {%>
          <li><a href="/productos/categoria/<%= category.id%>"><%= category.name %></a></li>
        <% })%>
    </nav>

    </li>


    </ul>

  </section>
</header>