<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head", {title: "Inicio" }) %>

    <body class="home-body">
        <%- include("../partials/header") %>
            <main class="home-main">

                <div class="carusel-box">

                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/banner1.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/banner2.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="div-anuncios">
                        <div class="img-tip"> <img src="/images/tips.png" alt="Tips"></div>
                        <div class="caja-gris"></div>

                    </div>
                </div>

                <div class="div-offers">
                    <h5>¡OFERTAS DE LA SEMANA DE LA LIMPIEZA!</h5>
                </div>
                <section class="section-products">
                    <% products.forEach(product=> { %>
                        <div class="clean-product">
                            <div class="img-container"><a href="/productos/detalle/<%= product.id%>">
                                    <img src="/images/products/<%= product.image%>" alt="Article">
                                </a></div>
                            <div class="description-container">
                                <h2>
                                    <%= product.name%>
                                </h2>
                                <h3> $<%= product.price%>
                                </h3>
                                <a id="cart-action" href="/productos/detalle/<%= product.id%>">Ver Producto</a>
                            </div>
                        </div>
                        <% }) %>
                </section>
            </main>

            <% if (locals.userLogin?.roleAdmin===true) { %>
                <a href="/admin/dashboard/productos" class="access-dashboard"><i class="fa-solid fa-user-gear"></i></a>
                <% } else{ %>
                    <div class="burguer-icon-fixed">
                        <i class="fa-solid fa-list"></i>
                    </div>
                    <% } %>

                        <%- include("../partials/footer") %>
                            <%- include("../partials/scripts") %>
                                <script src="./js/togglePassword.js"></script>
    </body>

</html>