<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head", {title: "Inicio" }) %>


    <body class="home-body">
        <%- include("../partials/header") %>
            <main class="home-main">
                    <h5>Resultados de tu busqueda:</h5>
                <section class="section-products">
                    <% products.forEach(producto=> { %>
                        <div class="clean-product">
                            <div class="img-container"><a href="productos/detalle/<%= producto.id%>">
                                <img src="./images/<%= producto.image%>" alt="Article">
                            </a></div>
                            <div class="description-container">
                                <h2><%= producto.name%></h2>
                                <h3> $<%= producto.price%></h3>
                                <a id="cart-action" href="#">Añadir al carrito</a>
                            </div>
                        </div>
                        <% }) %>
                </section>
            </main>

            <%- include("../partials/footer") %>
                <%- include("../partials/scripts") %>
    </body>

</html>