<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head", { title: "Usuarios en database" }) %>



    <body class="dashboard-body">
      <%- include("./navBar") %>
      <main class="admin-main-list">

        <div class="admin-header-list">
          
          <div class="admin-header-list-title">
      
           <h2 >Usuarios</h2>
          
          </div>
          <input type="text" id="input-search-admin" placeholder="Buscar">
          </div>
          
          <table class="table table-hover table-borderless " id="table-search-admin">
            <thead class="table-dark">
              <tr class="clickable-row" data-url="/admin/dashboard/usuarios/<%= users.id %>" >
                <th scope="col"></th>
                <th scope="col">Usuario</th>
                <th scope="col">Email</th>
                <th scope="col">Rol</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
             
              <% users.forEach(user=> { %>
                <tr class="records">
                  <td><img src="/images/users/<%= user.avatar %>" alt="" width="30px" ></td>
                  <td scope="row">
                    <%= user.name %>  <%= user.surname %>
                  </td>
                  <td scope="row">
                    <%= user.email %>
                  </td>
                  <td scope="row">
                    <%= user.role.name %>
                  </td>
                  <td scope="row">
                    <img src="/images/users/<%= user.avatar %>" alt="" width="30px" >
                  </td>
                  <td scope="row">
                    <a href="/admin/dashboard/usuarios/<%= user.id %>" class="btn btn-success">Detalles</a>
                  </td>
               
              
               
                <% }) %>
            </tr>
    
        </tbody>
        </table>
   
      </main>


      <%- include("../partials/scripts") %>

    </body>

</html>