<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head", { title: "Productos en database" }) %>



    <body class="dashboard-body">
      <%- include("./navBar") %>
      <main class="admin-main-list">
        <div class="admin-header-list">
          <div class="admin-header-list-title">
          
           <h3></h3><h2 >Productos</h2>
          
          </div>
          
         
          <div class="admin-container-inputs"> 
  
          
         
         
          <% if (eliminados === "true") { %>
            <a href="/admin/dashboard/productos?eliminados=false">
              <button type="button" class="btn btn-outline-secondary" id="exclude-button-admin">Excluir productos eliminados</button>
            </a>
          <% } else { %>
            <a href="/admin/dashboard/productos?eliminados=true">
              <button type="button" class="btn btn-outline-secondary" id="exclude-button-admin">Ver productos eliminados</button>
            </a>
        <% } %>
        <a href="/admin/dashboard/crear"> <button type="button" class="btn btn-outline-success">Crear producto</button></a>
          <input type="text" id="input-search-admin" placeholder="Buscar" >
          
      </div>
          </div>
        
          <table class="table table-borderless table-hover" id="table-search-admin">
            <thead class=" table-dark">
              <tr>
                <th scope="col"></th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
                <th scope="col">Categoría</th>
                <th scope="col"></th>
                <th scope="col"></th>
              
              </tr>
            </thead>
            <tbody >
              <% products.forEach(producto=> { %>
                <tr class="clickable-row" data-url="/admin/dashboard/editar/<%= producto.id %>">
                  <th scope="row">
                    <img src="/images/products/<%= producto.image %>" alt="" width="30px">
                  </th>
                  <td>
                    <%= producto.name %>
                  </td>
                  <td>$<%= producto.price %>
                  </td>
                  <td>
                    <%= producto.stock %>
                  </td>
                  <td>
                    <%= producto.category.name %>
                  </td>
                  <% if (producto.deletedAt === null) { %>
                  <td> <a href="/admin/dashboard/editar/<%= producto.id %>"
                    class="btn btn-outline-warning">Editar</a>
                  </td>

                      <td>
                        <a href="/admin/dashboard/eliminar/<%= producto.id %>" class="btn btn-outline-danger"><i class="fa-solid fa-trash-can"></i> </a>
                        
                      <% } else { %>
                        <td>
                          Eliminado el <%= producto.deletedAt ? producto.deletedAt.toLocaleDateString('es-ES', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) : '' %>
                      </td>
                      
                        <td><form action="/admin/dashboard/restaurar/<%= producto.id %>?_method=PUT" method="post">
                          <button type="submit" href="/admin/dashboard/restaurar/<%= producto.id %>" class="btn btn-success" >Restaurar</a>
                          </form>
                        </td>
                         
                      <% } %>
                  </td>
               
                </tr>
           
                <% }) %>
            
        



        </tbody>


        </table>

      </main>


      <%- include("../partials/scripts") %>

    </body>

</html>