<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head", {title: "Registrarse" }) %>

    <body>
        <%- include("../partials/header") %>

            <section class="section-register">

                <div class="contenedor-register">

                    <div class="formulario">

                        <h2>CREAR CUENTA</h2>

                        <% if (errors !=0 ) { %>
                            <div class="contenedor-error-validaciones">

                                <% errors.forEach(e=> { %>

                                    <small class="error-validaciones">
                                        <%= e.path %> : <%= e.msg %>
                                    </small>

                                    <% }) %>
                            </div>
                            <% } %>



                                <form action="/autenticacion/registrar" method="POST">
                                    <div class="input-register">
                                        <label for="name">Nombre </label>
                                        <input type="text" name="name">
                                    </div>
                                    <div class="input-register">
                                        <label for="#">Apellido</label>
                                        <input type="text" name="surname">

                                    </div>
                                    <div class="input-register">
                                        <label for="email">ingrese su email</label>
                                        <input type="text" name="email">
                                    </div>

                                    <div class="input-register">
                                        <label for="password">Contrase単a</label>
                                        <input type="password" name="password">
                                    </div>
                                    <!--   <button class="btn btn-sm btn-custom-danger" type="reset"> Borrar</button> -->

                                    <div class="terminos">
                                        <label for="#">
                                            <input type="checkbox"> acepto terminos y condiciones
                                        </label>
                                    </div>
                                    <button class="button-register" type="submit">REGISTRARSE</button>
                                </form>

                                <div>


                                    <div class="iniciar">
                                        <p>多ya tienes cuenta? <a href="/autenticacion/iniciar">inicia sesion</a></p>
                                        <a href="#">多Olvidaste tu Contrase単a?</a>
                                    </div>
                                </div>

                    </div>
                </div>
            </section>
            <%- include("../partials/scripts") %>
    </body>

</html>