<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head", {title: "Registrarse"}) %> 
<body>
    <%- include("../partials/logo") %>
    
    <section class="section-register">
        
        <div class="contenedor-register">

        <div class="formulario">
    
            <h2>CREAR CUENTA</h2>

            <form action="/autenticacion/registrar" method="POST" >
                <div class="input-register">
                    <input type= "text" name="name" >
            <label for="name">Nombre </label>
            <p class="error-alert">
                <%= locals.errors?.name?.msg%>
            </p>
        <div class="input-register">
            <input type= "text" name="surname" >
            <label for="#">Apellido</label>

        </div>
        <div class="input-register">
            <input type= "text" name="email" >
            <label for="email">ingrese su email</label>
            <p class="error-alert">
                <%= locals.errors?.email?.msg%>
            </p>
        </div>

        <div class="input-register">
            <input type= "password" name="password" >
            <label for="password">Contrase単a</label>
        </div>
      <!--   <button class="btn btn-sm btn-custom-danger" type="reset"> Borrar</button> -->

        <div class="terminos">
            <label for="#">
                <input type="checkbox"> acepto terminos y condiciones
                <a href="#">多Olvidaste tu Contrase単a?</a>
            </label>
        </div>
        <button class="button-register" type="submit">REGISTRARSE</button>
    </form>

    <div>
   

        <div class="iniciar">
            <p>多ya tienes cuenta? <a href="/autenticacion/iniciar">inicia sesion</a></p>
        </div>
    </div>
       
    <div class ="iconos9">
        
        <i class="fa-solid fa-rotate-left"></i>
    </div>

</div>
        </div>
</section>
    <%- include("../partials/scripts") %> 
</body>
</html>
