<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head", {title: "Registrarse" }) %>

    <body>
        <%- include("../partials/header") %>

            <section class="section-register">

                <div class="contenedor-register">

                    <div class="formulario">

                        <h2>CREAR CUENTA</h2>
                        <form action="/autenticacion/registrar" method="POST">
                            <div class="input-register">
                                <label for="name">Nombre </label>
                                <input type="text" name="name">
                                <% if (locals.errors) { %>
                                    <p class="text-danger-error">
                                        <%= locals.errors?.name?.msg %>
                                    </p>
                                    <% } %>
                            </div>
                            <div class="input-register">
                                <label for="#">Apellido</label>
                                <input type="text" name="surname">
                                <% if (locals.errors) { %>
                                    <p class="text-danger-error">
                                        <%= locals.errors?.surname?.msg %>
                                    </p>
                                    <% } %>
                            </div>
                            <div class="input-register">
                                <label for="email">ingrese su email</label>
                                <input type="text" name="email">
                                <% if (locals.errors) { %>
                                    <p class="text-danger-error">
                                        <%= locals.errors?.email?.msg %>
                                    </p>
                                    <% } %>
                            </div>

                            <div class="input-register">
                                <label for="password">Contrase単a</label>
                                <input type="password" name="password">
                                <% if (locals.errors) { %>
                                    <p class="text-danger-error">
                                        <%= locals.errors?.password?.msg %>
                                    </p>
                                    <% } %>
                            </div>
                            <div class="terminos">
                                <label for="#">
                                    <input type="checkbox"> acepto terminos y condiciones
                                </label>
                            </div>
                            <button class="button-register" type="submit">REGISTRARSE</button>
                        </form>

                        <div>


                            <div class="iniciar">
                                <p>多ya tienes cuenta? <a href="/autenticacion/iniciar">inicia sesion</a></p>
                                <a href="#">多Olvidaste tu Contrase単a?</a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <%- include("../partials/scripts") %>
    </body>

</html>