<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head", {title: "Edición de perfil" }) %>

    <body class="home-body">
        <%- include("../partials/header") %>
            <main class="main-userEdit">
                <form method="POST" action="/perfil/editar?_method=PUT" enctype="multipart/form-data" class="perfil">
                    <h1>Editar usuario</h1>

                    <div class="user-dates">
                        <div>
                            <label for="name" class="form-label">Nombre:</label>
                            <input type="text" id="name" name="name" class="form-control" value="<%= user.name %>">
                                <p class="text-danger"><%= locals.errors?.name?.msg %></p>
                        </div>

                        <div>
                            <label for="surname" class="form-label">Apellido:</label>
                            <input type="text" id="surname" name="surname" class="form-control"
                                value="<%= user.surname %>">
                                <p class="text-danger"><%= locals.errors?.surname?.msg %></p>
                        </div>

                        <div>
                            <label for="phoneNumber" class="form-label">Teléfono:</label>
                            <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control"
                                value="<%= user.phoneNumber %>">
                                <p class="text-danger"><%= locals.errors?.phoneNumber?.msg %></p>
                        </div>
                    </div>
                    <div class="container-file-old-new">
                        <div class="mb-3">
                            <label class="form-label">Foto de perfil actual</label>
                            <img src="/images/users/<%= user.avatar %>" width="300px">
                        </div>

                        <div class="mb-3">
                            <label for="avatar" class="form-label">Nueva foto de perfil</label>
                            <input class="form-control" type="file" id="file" accept="image/*" name="avatar"
                                value="<%= user.avatar %>">
                        </div>
                    </div>
                    <div class="container-buttons-userEdit">
                        <a href="/perfil"><button class="btn btn-primary">Regresar al perfil</button></a>
                        <button type="reset" class="btn btn-secondary">Deshacer cambios</button>
                        <button type="submit" class="btn btn-success">Actualizar</button>
                    </div>

                </form>


            </main>
            <%- include("../partials/footer") %>
                <%- include("../partials/scripts") %>
                <script src="/js/modifyProfile.js"></script>
    </body>

</html>