<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head", {title: "Error 404"}) %> 
<body>
    <%- include("../partials/logo") %> 
    <h1>Editar Usuario</h1>
    <form method="POST" action="/perfil/editar?_method=PUT">

        <div>
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" value="<%= usuario.name %>">
        </div>
        <div>
            <label for="surname">Apellido:</label>
            <input type="text" id="surname" name="surname" value="<%= usuario.surname %>">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="<%= usuario.email %>">
        </div>
        <button type="submit">Actualizar</button>
    </form>
    <%- include("../partials/footer") %>
</body>
</html>
